<header>

  <!-- our main logo -->
  <a id="logo" href="home-page">
      <img src="assets/bus logo.jpg" alt="Logo">
      
  </a>

  <!-- main navigation links -->
  <nav>
      <ul>
          <li><a href="">Home</a></li>
          <li><a href="about-page">About Us</a></li>
          <li><a href="contact-page">Contact Us</a></li>
          <li><a href="cancel-ticket">Cancel Ticket</a></li>
          <li><a href="register-page">Register</a></li>
          <li><a href="login-page">Login</a></li>
       </ul>
  </nav>
</header>
<div class="ig"  style="padding-top: 10px;">
<div class="container">
  <div class="row">
    <div class="col-sm-4"> </div>
    <div class="col-md-4">

      <h1 class="text-center text-success"> Login Page</h1>
      <br />

      <div class="col-sm-12" id="tabs" #tabs>

        <ul class="nav nav-pills">



          <li  style="width:50%"><a class="btn" data-toggle="tab"
              (click)="search('search')" class="s">User</a></li>

          <li style="width:48%"><a class="btn" data-toggle="tab"
              (click)="result('result')"  class="r">Admin</a></li>



        </ul>

        <br />


        <div class="tab-content">
          <div id="search" class="tab-pane fade in active" [ngClass]="{ 'active':activeTab==='search'}">

            <form [formGroup]="userLoginForm" (ngSubmit)="userLogin()">

              <div class="form-group">
                <div *ngIf="userLoginForm.controls.emailId.errors && 
            (userLoginForm.controls.emailId.touched || userLoginForm.controls.emailId.dirty)" style="color: red;">
               User Email Id is required
            </div>
                <label for="emailId">User Email address:</label>
                <input type="text" class="form-control" id="emailId" name="emailId" formControlName="emailId">
              </div>

              <div class="form-group">
                <div *ngIf="userLoginForm.controls.pass.errors && 
                (userLoginForm.controls.pass.touched || userLoginForm.controls.pass.dirty)" style="color: red;">
                    User Password is required
                </div>
                    <label for="pass">User Password:</label>
                    <input type="password" class="form-control" id="pass" name="pass" formControlName="pass">
              </div>


              <button type="submit" class="btn btn-primary" [disabled]="userLoginForm.invalid" >Submit</button>
              <button type="submit" class="btn btn-primary pull-right btn-link" id="fp"><a routerLink="/forgot-password" style="color: azure;">Forget password</a></button>

            </form>
            <br />
            <a href="register-page" routerLinkActive="active" class="pull-right btn btn-block btn-danger"> Registered Yet? </a>
          </div>
          <div class="tab-pane" id="results" [ngClass]="{ 'active':activeTab==='result'}">
            <form [formGroup]="adminLoginForm" (ngSubmit)="adminLogin()">

              <div class="form-group">
                <div *ngIf="adminLoginForm.controls.AemailId.errors && (adminLoginForm.controls.AemailId.touched || adminLoginForm.controls.AemailId.dirty)" style="color: red;">
                Admin Email Id is required
            </div>
                <label for="emailId">Admin Email address:</label>
                <input type="text" class="form-control" id="AemailId" name="AemailId" formControlName="AemailId">
              </div>

              <div class="form-group">
                <div *ngIf="adminLoginForm.controls.password.errors && 
            (adminLoginForm.controls.password.touched || adminLoginForm.controls.password.dirty)" style="color: red;">
                Admin Password is required
            </div>
                <label for="password">Admin Password:</label>
                <input type="password" class="form-control" id="password" name="password" formControlName="password">
              </div>


              <button type="submit" class="btn btn-primary" [disabled]="adminLoginForm.invalid">Submit</button>
              <button type="submit" class="btn btn-primary pull-right btn-link" id="Afp"><a routerLink="/forgot-password" style="color: azure;">Forget password</a></button>

            </form>
            <br />
            
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>