<div class="booking-img">
<div id="header" style="padding-left: 120px;">
    
  <h1 align="center">Welcome to Seat Selection</h1>
  
</div>


  <div class="container">
      <h2>Book your seat</h2>
      <div class="card">
        <div class="card-body" >
  
  
          
        <div clss="1st-row" role="group">
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
  
        <button  (click)="but1()" 
        [ngClass]="{'blue' : toggle, 'green': !toggle}" class="btn ">
        01 </button>
        </div>
  
       <div class="btn-group mr-2" role="button">
        <button  id="02" type="button" (click)="but2()" 
        [ngClass]="{'blue' : button2, 'green': !button2}" class="btn ">02</button>
       </div>
       </div>
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but3()" 
        [ngClass]="{'blue' : button3, 'green': !button3}" class="btn">03</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button  type="button" (click)="but4()" 
        [ngClass]="{'blue' : button4, 'green': !button4}" class="btn">04</button>
       </div>
       </div>
       </div>
       
       
       <br>
        <div clss="2nd-row " role="group">
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but5()" 
        [ngClass]="{'blue' : button5, 'green': !button5}" class="btn" >05</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but6()" 
        [ngClass]="{'blue' : button6, 'green': !button6}" class="btn"  >06</button>
       </div>
       </div>
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but7()" 
        [ngClass]="{'blue' : button7, 'green': !button7}" class="btn" >07</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but8()" 
        [ngClass]="{'blue' : button8, 'green': !button8}" class="btn" >08</button>
       </div>
       </div>
       </div>
         <br>
        <div clss="3rd-row" role="button">
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button  type="button" (click)="but9()" 
        [ngClass]="{'blue' : button9, 'green': !button9}" class="btn"  >09</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button  type="button" (click)="but10()" 
        [ngClass]="{'blue' : button10, 'green': !button10}" class="btn">10</button>
       </div>
       </div>
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but11()" 
        [ngClass]="{'blue' : button11, 'green': !button11}" class="btn"  >11</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but12()" 
        [ngClass]="{'blue' : button12, 'green': !button12}" class="btn">12</button>
       </div>
       </div>
       </div>
       
       
       <br>
        <div clss="4th-row " role="group">
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but13()" 
        [ngClass]="{'blue' : button13, 'green': !button13}" class="btn">13</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but14()" 
        [ngClass]="{'blue' : button14, 'green': !button14}" class="btn" >14</button>
       </div>
       </div>
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but15()" 
        [ngClass]="{'blue' : button15, 'green': !button15}" class="btn" >15</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but16()" 
        [ngClass]="{'blue' : button16, 'green': !button16}" class="btn"  >16</button>
       </div>
       </div>
       </div>
       <br>
       <div clss="3rd-row" role="button">
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but17()" 
        [ngClass]="{'blue' : button17, 'green': !button17}" class="btn"  >17</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button  type="button" (click)="but18()" 
        [ngClass]="{'blue' : button18, 'green': !button18}" class="btn"  >18</button>
       </div>
       </div>
        <div class="btn-group mr-4" role="button">
        <div class="btn-group mr-2" role="button">
        <button type="button" (click)="but19()" 
        [ngClass]="{'blue' : button19, 'green': !button19}" class="btn" >19</button>
        </div>
       <div class="btn-group mr-2" role="button">
        <button  type="button" (click)="but20()" 
        [ngClass]="{'blue' : button20, 'green': !button20}" class="btn" >20</button>
       </div>
       </div>
       </div>
       
       
       <br>
        <div clss="3rd-row " role="group">
        
        <div class="btn-group mr" role="button">
        <button type="button" (click)="but21()" 
        [ngClass]="{'blue' : button21, 'green': !button21}" class="btn" >21</button>
        </div>
       <div class="btn-group mr" role="button">
        <button  type="button" (click)="but22()" 
        [ngClass]="{'blue' : button22, 'green': !button22}" class="btn"  >22</button>
       </div>
       
        <div class="btn-group mr" role="button">
        <button type="button" (click)="but23()" 
        [ngClass]="{'blue' : button23, 'green': !button23}" class="btn"  >23</button>
        </div>
       
        <div class="btn-group mr" role="button">
        <button type="button" (click)="but24()" 
        [ngClass]="{'blue' : button24, 'green': !button24}" class="btn" >24</button>
        </div>
       <div class="btn-group mr" role="button">
        <button  type="button" (click)="but25()" 
        [ngClass]="{'blue' : button25, 'green': !button25}" class="btn"  >25</button>
       
        </div>
        </div>
        <br>
        <br>
    
        <div class="btn-group mr-10">
          
          <button  class="btn mr-4 btn-danger" role="button" routerLink="/search-bus-page">Cancel</button>

          <button class="btn btn-success" routerLink="/payment-portal">Proceed to Payment</button>
        </div>
        </div>
        <!--div  class="seatbook">
          <button mat-raised-button color="primary" type="submit">Book Seat</button>
          </div>
          <p [ngStyle]="setMyStyles()">
              Book your seat and 'click on 'BOOK SEAT' option
            </p>
          </div--> 








<!--div class="detail" style="float: right;">
  <div id="ticket-details">
    <div id="details">
      <h2>Ticket Details</h2>
      <div id="print-details">
        <h3>Bus No :- 10</h3>
        <h3>Source :-Amravati</h3>
        <h3>Destination :-Bangalore </h3>
        <h3>Date of Journey :-	2022-03-24 </h3>
        <h3>Arrival Time :-2022-03-23 </h3>
        <h3>Departure Time :-	10:20 </h3>
        <h3>Seat Number :- 60</h3>
        <h3>Fare :- 800</h3>
      </div>
    </div>
  </div-->
 
  
<!--script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script-->
      </div>
  </div>
      <div >
      <footer style="padding-top: 50px;">
        <p class="float-right"></p>
        <p>Ⓒ2022-2023 Safe Travels All rights reserved</p>
    </footer>
      </div>