<div class="ng">
<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about-page">About Us</a></li>
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">Cancel Ticket</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>

<div id="ig">
    <div class = "matter">

    <h1 align="center" style="margin-top: 0px; padding: 10px;"> Cancel Your Ticket</h1><br>
    <h3>Enter the following details to cancel your ticket</h3>
   <div class="container" style="margin-left: 300px;">
    <form [formGroup]="cancelTicketForm" (ngSubmit)="cancelTicket()">
        <div class="form-group row">
            <div *ngIf="cancelTicketForm.controls.emailId.errors && 
            (cancelTicketForm.controls.emailId.touched || cancelTicketForm.controls.emailId.dirty)" style="color: red;">
                Email Id is required
            </div>
            <label for="emailId" class="col-sm-2 col-form-label">Email Id</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="emailId" id="emailId" formControlName="emailId">
            </div>
        </div>
        <div class="form-group row">
            <div *ngIf="cancelTicketForm.controls.ticketNo.errors && 
                    (cancelTicketForm.controls.ticketNo.touched || cancelTicketForm.controls.ticketNo.dirty)" style="color: red;">
                Ticket Number is required
            </div>
            <label for="ticketNo" class="col-sm-2 col-form-label">Ticket Number</label>
            <div class="col-sm-6">
            <input class="form-control" type="number" name="ticketNo" id="ticketNo" formControlName="ticketNo">
        </div>
        </div>
        <button routerLink="/after-cancel" class="btn btn-primary" type="submit" [disabled]="cancelTicketForm.invalid">Submit</button>&nbsp;
        <button routerLink="/" class="btn btn-primary" type="submit">Cancel</button>
        </form>
   </div>    
    

</div>
</div>
<footer>
    <p class="float-right"></p>
    <p>Ⓒ2022-2023 Safe Travels All rights reserved</p>
</footer>
</div>