<div class="ig">
    <h3 align="center" style="margin-top: 0px; padding: 10px;"> Your Ticket has been cancelled Sucessfully!</h3>
    <h5 align="center">
        Your Ticket details:
    </h5>
    <table cellpadding=20 cellspacing=30 class="table table-striped table-dark">
        <thead>
            <tr>
                <th scope="col">Booking No</th>
                <th scope="col">Ticket No</th>
                <th scope="col">Bus Id</th>
                <th scope="col">Source</th>
                <th scope="col">Destination</th>
                <th scope="col">Arrival Date</th>
                <th scope="col">Departure Date</th>
                <th scope="col">Refund Amount</th>
            </tr>
        </thead>
        <tbody>
            <!--<tr *ngFor='let x of bus'>-->
            <tr>
                <th scope="row">1</th>
                <td>7496</td>
                <td>100</td>
                <td>Delhi</td>
                <td>Pune</td>
                <td>01-oct-2020</td>
                <td>02-oct-2020</td>
                <td>1200</td>
            </tr>
        </tbody>
    </table>
</div>
<footer >
    <p class="float-right"></p>
    <p>Ⓒ2022-2023 Save Travel All rights reserved</p>
</footer>
