<header>

    <!-- our main logo -->
    <a id="logo" href="home-page">
        <img src="assets/bus logo.jpg" alt="Logo">
        
    </a>
  
    <!-- main navigation links -->
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="about-page">About Us</a></li>
            <li><a href="contact-page">Contact Us</a></li>
            <li><a href="cancel-ticket">Cancel Ticket</a></li>
            <li><a href="register-page">Register</a></li>
            <li><a href="login-page">Login</a></li>
         </ul>
    </nav>
  </header>
<div class="ig">
    <div class="conainer">
    <form [formGroup]="forgotPassForm" (ngSubmit)="forgotPass()">
        <div class="form-group row">
            <div *ngIf="forgotPassForm.controls.emailId.errors && 
            (forgotPassForm.controls.emailId.touched || forgotPassForm.controls.emailId.dirty)" style="color: red;">
                Email Id is required
            </div>
            <label for="emailId" class="col-sm-2 col-form-label">Email Id</label>
            <div class="col-sm-6">
                <input class="form-control" type="text" name="emailId" id="emailId" formControlName="emailId">
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" [disabled]="forgotPassForm.invalid">
        </div>
        
    </form>
</div>
</div>
<footer>
    <p></p>
    <p>Ⓒ2022-2023 Safe Travels All rights reserved</p>
</footer>